<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Seekya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Seekya.Properties.Settings>
            <setting name="Seekya_WebReference_WSInterface" serializeAs="String">
                <value>http://168.2.5.28:1506/services/WSInterface.WSInterfaceHttpSoap11Endpoint</value>
            </setting>
            <setting name="Seekya_WebReference1_WSInterface" serializeAs="String">
                <value>http://168.2.5.26:1506/services/WSInterface.WSInterfaceHttpSoap11Endpoint</value>
            </setting>
        </Seekya.Properties.Settings>
    </applicationSettings>
</configuration>
